__pycache__/
.pytest_cache/
_tmp/
mismatch_report.csv
.venv/
wiki_modular.egg-info/

_fuentes/_originales/20221115_TraspasoConocimientos.docx
_fuentes/_originales/DTI-MIGRACION-HOST - 201909.docx
_fuentes/_originales/DTI-MIGRACION-HOST- Acta Reunion Seguimiento - 20200114.docx
_fuentes/_originales/DTI-MIGRACION-HOST- Acta Reunion Seguimiento - 20200904.docx
_fuentes/_originales/DTI-MIGRACION-HOST-R03.docx
_fuentes/_originales/Plan de Pruebas-v.01.00.docx
_fuentes/_originales/PUMA.B.GEN.22981.r01.Piloto.Definicion.docx
_fuentes/_originales/PUMA.R.GEN.0000000.r00.DataModel.docx
_fuentes/_originales/PUMA.R.GEN.217679.r00.PUMA.Cambio.Solucion.Proyectos.En.Curso.docx
_fuentes/_originales/PUMA.R.GEN.229119.r00.DefiniciónArquitectura.docx
_fuentes/_originales/Analisis ETL OOTT.docx
_fuentes/_originales/EstadoActualPlataformaBBD_V27_3_42.docx
